:root {
  background: linear-gradient(
    0deg,
    rgba(17, 4, 28, 1) 0%,
    rgba(147, 147, 147, 1) 100%
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  overflow: hidden;
  user-select: none;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 30px;
}

.end-form-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 40rem;
}

#end-text {
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
  margin: 20px;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1rem;
  font-size: 1.8rem;
  text-align: center;
  border: none;
  color: black;
}

input::placeholder {
  color: gray;
}

#saveScoreBtn {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  font-size: 3rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 1em;
  color: black;
  background-color: white;
  width: 100%;
}
