:root {
  background: linear-gradient(
    0deg,
    rgba(17, 4, 28, 1) 0%,
    rgba(147, 147, 147, 1) 100%
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  overflow: hidden;
  user-select: none;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 8rem;
  text-align: center;
}

.end-form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 50rem;
}

#end-text {
  font-size: 6rem;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

input {
  margin-bottom: 1rem;
  width: 15em;
  padding: 1rem;
  font-size: 1.8rem;
  text-align: center;
  border: none;
  color: black;
}

input::placeholder {
  color: gray;
}

#saveScoreBtn {
  padding: 0.8em;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: black;
  margin: 10px 10px;
  font-family: serif;
  font-size: 3rem;
}

.btn:hover {
  cursor: pointer;
  scale: 1.1;
}

#end {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  font-size: 3rem;
  text-decoration: none;
  padding: 1rem;
  color: black;
  background-color: white;
  border-radius: 50px;
  margin: 10px 0;
  width: 50%;
  text-align: center;
}
